@tailwind base;
@tailwind components;
@tailwind utilities;

/* third-party libraries CSS */

.testimonial-02 .swiper-pagination-bullet {
  @apply h-2.5 w-2.5 bg-stroke opacity-100;
}

.testimonial-02 .swiper-pagination-bullet-active {
  @apply w-5 rounded-full bg-[#4A9A2B];
}

.testimonial-01 .swiper-pagination {
  @apply relative pt-2;
}

#supportCheckbox:checked~div span {
  @apply opacity-100;
}

@layer base {
  body {
    @apply relative z-1 font-inter text-regular font-normal text-waterloo dark:text-manatee;
  }
}

@layer components {
  .dropdown {
    @apply hidden min-w-max flex-col gap-2 rounded-md border border-stroke !bg-white px-8 py-5 shadow-solid-13 duration-300 ease-in dark:border-strokedark dark:bg-black xl:invisible xl:absolute xl:mt-0 xl:flex xl:w-[250px] xl:translate-y-3.5 xl:-translate-x-96 xl:opacity-0 xl:group-hover:visible xl:group-hover:translate-y-3.5 xl:group-hover:opacity-100 xl:dark:before:border-strokedark xl:dark:before:bg-black;
  }
}

@media (max-width: 1280px) {
  .navbar {
    @apply max-h-[400px] overflow-y-scroll;
  }
}

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .img-white {
    filter: invert(0%) sepia(96%) saturate(15%) hue-rotate(249deg) brightness(100%) contrast(105%);
  }
}

.blog-details-docs {
  @apply rounded-lg border border-white p-7.5 shadow-solid-3 transition-all dark:border-strokedark dark:bg-blacksection xl:p-12.5;
}

.blog-details p {
  @apply mb-8 text-base leading-relaxed text-titlebgdark dark:text-waterloo;
}

.blog-details p strong {
  @apply text-primary dark:text-waterloo;
}

.blog-details h3 strong,
.blog-details h3 {
  @apply mb-10 text-xl !font-semibold leading-tight text-black dark:text-white sm:text-2xl sm:leading-tight lg:text-xl lg:leading-tight xl:text-2xl xl:leading-tight;
}

.blog-details h4 strong,
.blog-details h4 {
  @apply text-xl !font-semibold leading-tight text-black dark:text-white sm:text-2xl sm:leading-tight lg:text-xl lg:leading-tight xl:text-2xl xl:leading-tight;
}

.blog-details h5 strong,
.blog-details h5 {
  @apply mb-3 text-lg !font-semibold leading-tight text-black dark:text-white sm:text-xl;
}

.blog-details h1 {
  @apply mb-4 text-3xl !font-bold !leading-tight text-black dark:text-white sm:text-4xl md:text-[45px] lg:text-4xl xl:text-[45px];
}

.blog-details h2 strong,
.blog-details h2 {
  @apply mb-4 text-[26px] !font-bold !leading-tight text-black dark:text-white sm:text-3xl md:text-4xl;
}

.blog-details ul,
.blog-details ol {
  @apply mb-10 list-inside list-disc text-titlebgdark;
}

.blog-details li,
.blog-details li {
  @apply mb-2 text-base text-titlebgdark dark:text-waterloo;
}

.blog-details blockquote {
  @apply relative z-10 mb-10 overflow-hidden rounded-sm bg-manatee p-8 text-center text-base font-medium italic text-black dark:bg-titlebgdark md:py-9 lg:px-10;
}

.blog-details blockquote::after {
  content: "";
  @apply absolute bottom-0 right-0 h-20 w-20 bg-[url(/images/blog/quote-shape-2.svg)] bg-contain bg-right-bottom bg-no-repeat;
}

.blog-details blockquote::before {
  content: "";
  @apply absolute left-0 top-0 h-[106px] w-[140px] bg-[url(/images/blog/quote-shape-1.svg)] bg-contain bg-left-top bg-no-repeat dark:bg-[url(/images/blog/quote-shape-1.svg)];
}

pre {
  @apply relative mb-2 rounded-lg bg-strokedark px-4 py-2;
}

.prism-copy-button {
  @apply absolute right-2 top-2 h-[26px] rounded bg-white px-4 text-primary;
}

.active-tab {
  @apply bg-stroke text-black dark:bg-blackho dark:text-white;
}

.textStartGradient {
  @apply bg-gradient-to-r from-rose-600 to-orange-400 bg-clip-text text-transparent;
}

.textLastGradient {
  @apply bg-gradient-to-r from-yellow-400 via-lime-500 to-cyan-400 bg-clip-text text-transparent
}

.buttoncolor-bg {
  background-color: #FF2E53 !important;
}

.button-border {
  border-color: #FF2E53 !important;
}

.buttoncolor-contactus-bg {
  background-color: #FFFFFF !important;
}


.arrowLeft {
  @apply border-solid border-r-black border-r-8 border-y-transparent border-y-8 border-l-0
}

header {
  @apply !h-auto;
}

.menuList {
 @apply xl:!px-32 text-blacktext;
}

.menuSubContent {
 @apply w-96 !text-metatitle font-normal !text-secondaryTextColor;
}

.subDropdown {
  @apply xl:!translate-x-0;
}

.arrow-up {
 @apply after:content-[''] after:absolute after:w-0 after:h-0 after:border-4 after:border-gray-700 after:-bottom-1 after:left-1/2 after:-translate-x-1/2 after:rotate-45
}

.testimonial-01 .swiper-slide-active {
  @apply !scale-100
}

.testimonial-01 .swiper-slide-active h3 {
  @apply font-bold 
} p {
  @apply text-black
}

.testimonial-01 .swiper-slide-prev {
  @apply !scale-90 !opacity-50
}

.testimonial-01 .swiper-slide-next {
  @apply !scale-90 !opacity-50
}

.testimonial-02 .swiper-slide-prev {
  @apply !scale-90 !opacity-50
}

.testimonial-02 .swiper-slide-next {
  @apply !scale-90 !opacity-50
}


.gradient-border {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #f00, #ff7f00, #a3d500, #67e8f9) 1;
  border-radius: 1.5rem;
}

.multiBorder {
  @apply border-l-red-500 border-t-yellow-500 border-r-teal-500 border-b-lime-500 border-2 ;
}

.menuBackground {
  @apply !bg-[url(/images/menu/menu_bg)] bg-cover bg-no-repeat text-blacktext;
 }

.heroBackground {
 @apply bg-[url(/images/bgimgs/Hero_bg.png)] bg-cover bg-no-repeat bg-center;
}

.commonBackground {
  @apply bg-[url(/images/bgimgs/Common_bg.png)] bg-cover bg-no-repeat bg-center;
 }

 .userStoriesBackground {
  @apply bg-[url(/images/bgimgs/Testimonials_BG.png)] bg-cover bg-no-repeat bg-center;
 }

 .vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  rotate: 45deg;
  background-color: white;

}



 /* milestones */
 [aria-label="timeline_popover"] {
  display: none;
}

.ibpOxS.active {
  background: #4d2d79 !important;
  color: #FFFFFF !important;
}

.hxLLRt{
  background-color:#f9f3ff !important; 
}

.contactDialogue {
  @apply  bg-[url(/images/about/contact_us_dialogue_bg.png)] bg-cover bg-no-repeat bg-right;
}

.contactBg {
  @apply  bg-[url(/images/about/CSBG.png)] bg-cover bg-no-repeat;
}

.textJustify{
  /* line-break: anywhere; */
  word-spacing:-2px;
}

svg {
  display: inline-block;
  vertical-align: middle;
}
